.resourceCardContainer {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.resourceCardMarkdown {
    font-size: 20px;
}

.resourceCardTitle {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.resourcePage {
    text-align: left;
    font-size: 20px;
    min-height: 100vh;
    max-width: 100vw;
}

.reactMarkdown {
    max-width: 100vw;
}

.reactMarkdown img {
    max-width: 90vw;
}