.projectCardContainer {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.projectCardMarkdown {
    font-size: 20px;
}

.projectCardTitle {
    color: black;
    font-size: 30px;
    font-weight: bold;
}